.mcq-container{
	padding:10px 0px;
	background: #e1ffff; /* Old browsers */
background: -moz-linear-gradient(top, #e1ffff 0%, #fdffff 6%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(6%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* IE10+ */
background: linear-gradient(to bottom, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
}
ul.option-container {
	padding-left: 0px;
}
.radio {
	list-style: none;
	min-height: 50px;
	display: block;
	padding-left: 50px;
	padding-top: 10px;
	width: 300px;
}
.show-result .radio.correct {
	background: -moz-linear-gradient(left,  rgba(250,212,38,1) 0%, rgba(250,212,38,1) 86%, rgba(250,212,38,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left , right, color-stop(0%,rgba(250,212,38,1)), color-stop(86%,rgba(250,212,38,1)), color-stop(100%,rgba(250,212,38,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* W3C */
}
.icon {
	font-size: 20px;
	font-family: verdana;
	margin-right: 15px;
	font-weight: bold;
	width: 27px;
    height: 27px;
	border-radius: 29px;
	background-color: #CFE3EB;
	display: inline-block;
	text-align: center;
	padding-top: 0px;
	border: 3px solid #fff;
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
}
#btnShowSolution {
	cursor: pointer;
	padding: 5px;
	background-color: rgba(250,212,38,1);
	margin-left: 50px;
	border: 1px solid #fff;
	border-radius: 3px;
}
.question {
	font-size: 22px;
	font-family: Verdana;
	color: #00002f;
	padding-left:15px;
	line-height: 1.2em;
}
.option-text {
	font-size: 20px;
	font-family: Verdana;
	color: #00002f;
}