/* left nav panel */

 #content_wrapper {
	position: relative;
	width: 77%;
	background-color: transparent;
	float:left;
	display: inline-block;
	max-width:745px;
	top:30px;
}

#nav_header {
    display: table;
    width: 745px;
    background-color: #4C4E50;
    color: #FFFFFF;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    left: 273px;
	padding:0px 20px;
	vertical-align:middle
}
#nav_header .title{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	max-width:80%;
	height:100%;
}
#nav_header .type{
    background: #fccd41;
	background: -moz-linear-gradient(top,  #fccd41 0%, #af9200 100%);
	background: -webkit-linear-gradient(top,  #fccd41 0%,#af9200 100%);
	background: linear-gradient(to bottom,  #fccd41 0%,#af9200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd41', endColorstr='#af9200',GradientType=0 );

	display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 25px;
    width: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 2px;
    float:right;
    margin-top:1px;

}

#nav_panel {
	width: 20%;
	display: inline-block;
	background-color: #4E4B49;
	color: #FFFFFF;
	padding: 5px;
	float: left;
}
#nav_panel .logo {
	display: block;
	height: 40px;
	width: 100%;
	border: 1px solid;
}
#nav_panel .tabs {
	display: inline-block;
	width: 100%;
}
#nav_panel .tabs .tab {

	width: 33.3%;
	color: #FFFFFF;
	text-align: center;
	padding: 2px;
	display: inline-block;
	float: left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #666666;
	background-color: #333333;
	cursor: pointer;
}
#nav_panel .tabs .tab.selected {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffee83+0,fcc800+9,d79b01+83 */
	background: rgb(255,238,131); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWU4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjZmNjODAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODMlIiBzdG9wLWNvbG9yPSIjZDc5YjAxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(255,238,131,1) 0%, rgba(252,200,0,1) 9%, rgba(215,155,1,1) 83%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,238,131,1)), color-stop(9%,rgba(252,200,0,1)), color-stop(83%,rgba(215,155,1,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,238,131,1) 0%,rgba(252,200,0,1) 9%,rgba(215,155,1,1) 83%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,238,131,1) 0%,rgba(252,200,0,1) 9%,rgba(215,155,1,1) 83%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,238,131,1) 0%,rgba(252,200,0,1) 9%,rgba(215,155,1,1) 83%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,238,131,1) 0%,rgba(252,200,0,1) 9%,rgba(215,155,1,1) 83%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee83', endColorstr='#d79b01',GradientType=0 ); /* IE6-8 */
	cursor: default;
}

#nav_panel .comp-title {
	padding: 5px;
	font-weight: bold;
	height: 40px;
}
#nav_panel .comp-details {
	display: inline-block;
	width: 100%;
	font-size: 0.95em;
	padding: 0px 5px;
	color: #FFCC00;
}
#nav_panel .acc-chap.btn {
	background-color: #302F2E;
	border: 1px solid #666666;
	padding: 5px;
	cursor: pointer;
	display: table;
	width: 100%;
}
#nav_panel .acc-chap.btn.selected {
	background-color: #000000;
}
#nav_panel .acc-chap .acc-board-icon {
	background: url('../../../images/spritesheet.png') no-repeat -152px -29px;
	width: 8px;
	height: 8px;
	display: table-cell;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
	margin-top:5px;
}
#nav_panel .acc-chap.btn.open .acc-board-icon {
	background: url('../../../images/spritesheet.png') no-repeat -152px -41px;	
}
#nav_panel .acc-chap .acc-chap-num {
	color: #FECB65;
	font-weight: bold;
	height: 100%;
	display: table-cell;
	float: left;
	width: 7%;
}
#nav_panel .acc-chap .acc-chap-title {
	width: 70%;
	display: table-cell;
	float: left;
}
#nav_panel .acc-chap .acc-chap-time {
	float: right;
}
#nav_panel .acc-container {
	height: 340px;
	overflow-y: auto;
	border: 2px solid #333333;
}
#nav_panel .board-container {
}
#nav_panel .board-container .acc-board ,
#nav_panel .search-container .acc-board {
	padding: 5px;
	border: 1px solid #666666;
	width: 100%;
	display: inline-block;
	cursor: pointer;
	padding-left: 4%;
}
#nav_panel .board-container .acc-board .acc-board-num,
#nav_panel .search-container .acc-board .acc-board-num {
	display: table-cell;
	float: left;
}
#nav_panel .board-container .acc-board .acc-board-title ,
#nav_panel .search-container .acc-board .acc-board-title {
	display: table-cell;
	float: left;
	width: 75%;
}
#nav_panel .board-container .acc-board.selected ,
#nav_panel .search-container .acc-board.selected {
	background-color: #E8A302;
	cursor: default;
}
#nav_panel .acc-board-time-container {
	float: right;
	display: inline-block;
	width: 15%;
}
#nav_panel .acc-board-time-container .type-container {
	display: block;
	width: 80%;
	margin: 0 auto;
	line-height: 0.9em;
}
#nav_panel .acc-board-time-container .board-type {
	width: 0.5em;
	height: 0.5em;
	display: inline-block;
	background-color: #CCCCCC;
	border: 1px solid #000000;
}
#nav_panel .acc-board-time-container .board-type.active {
	background-color: #FFCC00;
}
#nav_panel .acc-board-time {
	font-size: 0.8em;
	line-height: 0.8em;
	margin: 0 auto;
	display: block;
	width: 80%;
}
#nav_panel #cat {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 5px 0px;
	border: 1px solid #333333;
	height:50px;
}
#nav_panel .cat-btn {
	width: 3em;
	display: inline-block;
	height: 2.5em;
	border: 2px solid gray;
	padding: 5px 0px;
	text-align: center;
	border-radius: 0.5em;
	/* vertical-align: middle; */
	color: gray;
	text-decoration: none;
	margin-left: 1.1em;
}
#nav_panel .cat-btn.active {
	border: 4px solid #E8A302;
	color: #FFFFFF;
}
#nav_panel .cat-btn.selected {
	border: 4px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #E8A302;
}
#nav_panel .cat-btn.disabled {
	cursor: default;
}
#nav_panel .total-duration {
	color: #FFCC00;
	font-size: 0.9em;
	padding: 5px 5px;
	height:30px;
}

.module_title {
    margin: 0.5em 0 0.8em 0;
    font-weight: bold;
    font-size: 1.15em;
}
#btn_search {
    background-image: url("../../../images/spritesheet.png");
    background-position-x: -370px;
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: 0;
}#content_wrapper
.search-wrapper {
    width: 85%;
}
#input_search {
    width: 100%;
}

/** Sub Navigation panel */
	
#nav_footer {
    width: 745px;
    position: absolute;
    bottom: 0px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    background-color: #4C4E50;
    z-index: 0;
    left:273px;
}
#nav_footer #btnPrev,
#nav_footer #btnNext{
	border:none;
	width: 46px;
	height: 27px;
	cursor:pointer;
}
#nav_footer #btnPrev{
	background-position: -202px -1px;
}
#nav_footer #btnPrev.hover{
	background-position: -202px -38px;
}
#nav_footer #btnNext{
	background-position:  0 0;

}
#nav_footer #btnNext.hover{
	background-position:  0 -37px;
}
/* End */
