/* Tutorials Numeral component */

.tut-num-container {
	padding: 10px 0px;
	height: 495px;
	position: relative;
	background: #e1ffff; /* Old browsers */
	background: -moz-linear-gradient(top, #e1ffff 0%, #fdffff 6%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(6%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e1ffff 0%,#fdffff 6%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
	position: relative;
	padding-bottom:40px;
	overflow-y:hidden;
}
.tut-num-container .question{
	height:15%;
}
.tut-num-container #answer, .tut-num-container #steps {
	height: 85%;
	width: 100%;
	overflow-y:auto;
}
.tut-num-container #answer {
	display: none;
}

.tut-num-container #steps {
	display: none;
}

.tut-num-container #answer img {
	/*	margin-left: 7.5%;*/
}
.tut-num-container #steps img {
	margin-left: 20px;
	padding-top: 30px;
}

#tutnumpanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
#tutnumpanel #btnShowSolution, #tutnumpanel #btnShowAnswer, #tutnumpanel #btnShowSteps {
	cursor: pointer;
	background-color: #364159;
	color: #fff;
	height: 100%;
	border: none;
	width: 33.3%;
	position: relative;
	text-align: center;
	display: inline-block;
	margin: 0px !important;
	padding: 5px;
	border-radius: 0px !important;
	float: left;
}
#tutnumpanel #btnShowSolution.selected, #tutnumpanel #btnShowAnswer.selected, #tutnumpanel #btnShowSteps.selected {

	background-color: rgba(252,227,0,1);
	color: #000000;
}
.scroll-y {
    overflow-y: auto;
    height: 561px;
    display: inline-block;
    width: 100%;
}