/* Default Font Face, Color & Size */
div#temp_content {
    position: absolute;
	top:0;
	left:0;
}
body{
	font-family:"arial" sans-serif;
	font-size:0.82em;
	padding:0px;
	margin:0px;
}
*:focus {
	outline: none;
}
.full-width {
	width: 100%
}
.full-height {
	width: 100%
}
.body-text-container ul {
	padding-left: 20px;
}
.hide{
	display:none !important;
}
.outline {
	border: 1px solid #d0d0b9;
}
/* Styles for the Main Content Wrapper */
 #content_wrapper {
	/*position: relative;
	width: 100%;
	background-color: #ffffff;
	float:left;
	display: inline-block;
	border:2px solid;*/
/*	height:649px;*/
/*	max-width:750px;*/
}
#content_wrapper > #content{
	/*height:90%;
	display:table;
	width:100%;
	margin-top: 30px;*/
}

/* IOS play button */
#ios_play {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	width: 1014px;
	height: 650px;
}
#ios_play button {
	background: transparent !important;
	margin: 20% auto;
	padding: 0 !important;
	width: 95px;
	position: relative;
	display: inherit;
	border: none;
}
/*-------------------end------------------ */
.ui-skin {
	background: url('../../../images/spritesheet.png') no-repeat scroll 0px 0px transparent;
}
#swiffy_holder{
    height: 538px;
}
#swiffycontainer{
	width: 745px;
    height: 533px;
}
#image_container{
	width: 745px; 
	/*height: 504px; */
	height: 466px; 
	overflow-x: hidden; 
	overflow-y: scroll;
}
/* ------------- AUDIO PANEL -----------------*/
#audio {
	display: inline-block !important;
}

#panel_audiocontrols {
	position: relative;
}
#panel_audiocontrols.disabled {
	/*opacity: 0.4;*/
}
#panel_audiocontrols.disabled .ui-skin.hover {
	cursor: default;
}
.ui-play-btn {
    width: 46px;
    height: 30px;
    background-position-x: 0px;
    background-position-y: 0px;
    position: absolute;
    top: 7px;
    left: 10px;
}
.ui-play-btn:hover {
    background-position-y: -37px;
}
.ui-pause-btn {
    width: 46px;
    height: 30px;
    background-position-x: -56px;
    background-position-y: 0px;
    position: absolute;
    top: 7px;
    left: 10px;
}
.ui-pause-btn:hover {
    background-position-y: -37px;
}
.ui-replay-btn {
    width: 29px;
    height: 28px;
    background-position-x: -112px;
    background-position-y: 0px;
    left: 65px;
    top: 7px;
    position: absolute;
}
.ui-replay-btn:hover {
    background-position-y: -38px;
}

#slider_playhead_seek.ui-slider {
    position: absolute;
    float: left;
    height: 4px;
    left: 170px;
    top: 20px;
    width: 54%;
    max-width: 650px;
    background-color: #7B797A;
    border-top: 2px solid #1C1A1A;
    border-bottom: 1px solid #7B797A;
}

#slider_volume_seek.ui-slider {
    height: 4px;
    left: 616px;
    top: 20px;
    width: 9%;
    max-width: 650px;
    background-color: #7B797A;
    border-top: 2px solid #1C1A1A;
    border-bottom: 1px solid #7B797A;
}
/* ----- Audio Panel End -----------*/

/* ----------- UI buttons End -------------*/

/*
 #swiffyHolder {
 width: 745px;
 height: 533px;
 overflow: hidden;
 }
 #swiffycontainer {
 width: 745px;
 height: 533px;
 position: absolute;
 }*/
.MCQ.row {
	padding: 10px;
}

.question {
	margin-bottom: 15px;
}
#quizpanel, #audio_panel {
    width: 746px;
	/*width: 100%;*/
    background-color: #504E4C;
    position: absolute;
    /* clear: both; */
    /* float: left; 
    bottom: 0px;*/
    /* visibility: hidden; */
}
#audio_panel {
	bottom: 0px;
    height: 43px;
	border-top: 1px solid #5B5C5D;
}
#quizpanel {
	bottom: 0px;
	height: 30px;
}
#quizpanel #btnShowSolution {
	cursor: pointer;
	background-color: #364159;
	color: #fff;
	height: 100%;
	border: none;
	width: 150px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
/* Splash Page */
.splash-page {
    position: relative;
}
.splash-page .top {
    height: 77px;
    background-color: #49728C;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    padding:10px;
    position:relative;
	display:inline-block;
}
.splash-page .stream-title {
    color: #fff;
    font-size: 2.3em;
    height: 32px;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    margin: 0px !IMPORTANT;
    position: relative;
    width: 100%;
}

.splash-page .topic-title {
    color: #fff;
    font-size: 1.3em;
    height: 22px;
    /* border: 1px solid; */
    position: relative;
    margin: 0px;
    padding-top: 5px;
 }