.mcq-container {
	background: url("ME_AE_DIA_U6_B10_MCQ2/bg.png") no-repeat scroll 0 0 transparent;
	width: 745px;
	height: 533px;
	display: inline-block;
}
ul.option-container {
	padding-left: 0px;
}
.radio {
	list-style: none;
	min-height: 50px;
	display: block;
	padding-left: 50px;
	padding-top: 10px;
	width: 300px;
}
.show-result .radio.correct {
	background: -moz-linear-gradient(left,  rgba(250,212,38,1) 0%, rgba(250,212,38,1) 86%, rgba(250,212,38,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left , right, color-stop(0%,rgba(250,212,38,1)), color-stop(86%,rgba(250,212,38,1)), color-stop(100%,rgba(250,212,38,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(250,212,38,1) 0%,rgba(250,212,38,1) 86%,rgba(250,212,38,0) 100%); /* W3C */
	
}
.icon {
	font-size: 20px;
	font-family: verdana;
	margin-right: 15px;
	font-weight: bold;
	width: 26px;
	height: 25px;
	border-radius: 29px;
	background-color: #CFE3EB;
	display: inline-block;
	text-align: center;
	padding-top: 0px;
	border: 3px solid #fff;
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
}
.question {
	font-size: 22px;
	font-family: Verdana;
	color: #00002f;
	margin: 30px 20px;
}
.option-text {
	font-size: 20px;
	font-family: Verdana;
	color: #00002f;
}