@charset "utf-8";

/* Common Styles */


/* GLOBAL DOM Styling */
html {
	font-size				: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing		: border-box;
	-moz-box-sizing			: border-box;
	box-sizing				: border-box;
}
tbody
* {
	margin				: 0em;
	padding                : 0em;
}
/* END - DOM Styling */
body {
    /*background-color: #cccccc;*/
    background-size: cover;
    font-family:  "Trebuchet MS",Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    color:#585858;
    margin: 0;
}
/* Global BUTTONs */
button:focus, a:focus, input[type="button"]:focus {
	outline					: none;
	border: ;                : none;
}
button::-moz-focus-inner, a::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
	border					: 0;
}
.tis-btn {
	cursor					: pointer;
	text-decoration			: none;
	border					: none;
	background-color		: transparent;
}

.tis-btn.disabled, .tis-btn.disabled.hover {
	cursor					: default;
	outline					: none;
}

.button_index {
	border					: 0px solid #004A7F;
	background				: #004A7F;
	color					: #FFFFFF;
	background-image		: -webkit-linear-gradient(#004A7F, #003A61);
	background-image		: -moz-linear-gradient(#004A7F, #003A61);
	background-image		: -ms-linear-gradient(#004A7F, #003A61);
	background-image		: -o-linear-gradient(#004A7F, #003A61);
	background-image		: linear-gradient(#004A7F, #003A61);
	padding					: 5px;
	box-shadow				: #000;
	cursor					: pointer;
}

.text-bold {
	font-weight				: bold;
}

.text-italic {
	font-style				: italic;
}

.text-center {
	text-align				: center;
}

.text-left {
	text-align				: left;
}

.textarea {
	resize					: none;
	width					: 98%;
	height					: 80px;
}

textarea[readonly='readonly'].textarea {
	cursor					: not-allowed;
	color					: #999999;
}
/* Text Styling */
.text-hide {
    display                 : inline;
    font-size               : 0 !important;
    line-height             : 0 !important;
}
/* END Text Styling */


/* Show / Hide */
.hide {
	display					: none;
	visibility				: visible;
}

.show {
	display					: block;
	visibility				: visible;
}

.visible {
	visibility				: visible;
}

.invisible {
	visibility				: hidden;
}

.visually-hidden {/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
	position				: absolute !important;
	clip					: rect(1 1 1 1); /* IE6, IE7 */
	clip					: rect(1px, 1px, 1px, 1px);
	padding					: 0 !important;
	border					: 0 !important;
	height					: 1px !important;
	width					: 1px !important;
	overflow				: hidden;
	z-index					: -1000;
	filter					: alpha(opacity=0); /* that one we could drop,  we're really taking about one single pixel after all */
	opacity					: 0; /* we make that single box transparent */
}

.absolute {
	position				: absolute;
}

/* END Show / Hide Styling */

/* Alignment */
.center {
	margin-left				: auto;
	margin-right			: auto;
	width					: 100%;
}


.left {
	float					: left;
}

.right {
	float					: right;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height					: 1%;
}
.clearfix {
	display					: block;
}

.valign-middle {
    display: table;
}



/* End hide from IE-mac */
/* Loader */

/* Loader */
#loader {
    position                : absolute;
    top                     : 50%;
    right:50%;
    z-index: 7;
}


/* END Loader*/

/* Global Styles for Logger */
#logger {
	width					: 600px;
	background-color		: #A9A9A9;
	padding					: 5px;
	position				: absolute;
	right					: 0;
	z-index					: 5;
}
#log_title {
	font-size				: 1em;
	color					: #FFFFFF;
	padding-bottom			: 5px;
}
#log_body {
	color					: #000000;
	background-color		: #FFFFFF;
	height					: 300px;
	overflow				: auto;
}
p.debug {
	padding					: 0;
}
#logger > #log_nav {
	list-style				: none outside none;
	position				: absolute;
	padding					: 0;
	right					: 10px;
	top						: 0;
}
#logger > #log_nav > li {
	display					: inline;
}
#logger > #log_nav > li > a {
	margin-left				: 10px;
}
#logger > #log_nav > li > a#maximize {
	display					: none;
}

#logger.minimize {
	width					: 120px;
	height					: 24px;
}
#logger.minimize #log_title {
	display					: none;
}
#logger.minimize #log_body {
	display					: none;
}

.debug {
	color					: #0000FF;
}
.info {
	color					: #666666;
}
.warn {
	color					: #FF9900;
}
.error {
	color					: #FF0099;
}
.fatal {
	color					: #FF0000;
}
.trace {
	color					: #000000;
}
/* END */

/* */
#launchDiv {
	width					: 500px;
	height					: 300px;
	border					: 8px solid #DADADA;
	margin					: 0 auto;
	margin-top				: 200px;
	text-align				: center;
}
#launchDivText {
	margin-top				: 110px;
	font-family				: Arial;
	font-size				: 12px;
	font-weight				: bold;
	font-style				: normal;
}
#launchDivText a {
	margin-top				: 10px;
}


/* Popup Overlay */
.overlay, .popup-overlay {
	background-color		: #000000;
	top						: 0;
	left					: 0;
	bottom					: 0;
	right					: 0;
	opacity					: 0.5;
	filter					: alpha(opacity=80);
	position				: absolute;
	z-index					: 5;
}
/* END of Popup Overlay*/


/* Styles for the Main Content Wrapper */
#content_wrapper {
	position				: relative;
	z-index					: 1;
	margin                    : 0 auto;
}
/* END */

/* PRE-Load and reset Images*/

.preloadedImages {
	position				: absolute;
	left					: 0px;
	top						: 0px;
	width					: 0;
	height					: 0;
	visibility				: hidden;
}

.imgReset {
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
	border: none;
	outline: none;
	background-color: transparent;
}

/* END PRE-Load and reset Images*/

/* Clear Fix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.no-border-radius {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.no-box-shadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-background-clip: none !important;
}
/* Clear Fix END */

/* Application */
/* 998 x 568 */
#application_wrapper {
	/*
	width: 1014px;
		height: 645px;
		margin: auto auto 0.5rem auto;*/

    overflow:hidden;
}
#application {
 display: table;
    margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
/* END Application */

/* Long Description Link */
a.dlink, button.dlink {
	background-color: transparent;
	border: medium none;
	font-size: 0;
	line-height: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
/* END - Long Description Link */
abbr, acronym {
    color: #999999;
}
